{
            "path_to_yc_key": "/home/ubuntu/mykey.json",
            "fid": "some folder id form yc",
            "s_image": "ubuntu-1604-lts",
            "img_name": "reddit-base-{{timestamp}}",
            "img_family": "reddit-base",
            "ssh_user": "ubuntu"
	}
